# NE PAS COMMITER LES VALEURS RÉELLES
HUGGINGFACE_TOKEN=
GCLOUD_SERVICE_KEY_JSON=   # contenu JSON ou chemin sur Colab/Drive
OPENAI_API_KEY=
HF_MODEL_REPO=jnnanna/Anansi-AI-model
GDRIVE_DATASET_PATH=drive/MyDrive/anansi_dataset
USE_HF_DATASET=true
